/* styles */

/* size of margin, border and padding is included in size of element 
   in internal CSS calculations */
* {
  box-sizing: border-box;
}

/* 
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Long Cang', cursive;
font-family: 'Homemade Apple', cursive;
 */

